
p {
    font-size: 30px;
    text-align: center;
    font-family: URW Chancery L, cursive;
} 

.loginBtn {
    background-color: rgb(51, 63, 80);
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.loginBtn:hover {
    opacity: 1;
}

.showPwd {
    font-size: medium;
    padding-top: 5px;
    text-align: right;
}

.register {
    color: blue;
}

.register:hover {
    color : rgb(0, 81, 255);
    text-decoration: none; 
    cursor: pointer;
    opacity: 0.9;
}

.registerbtn {
    background-color: rgb(51, 63, 80);
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

